.git
.gitignore

**/.idea
**/bin
**/cmake-build-debug
**/node_modules
**/dist
**/resources

**/CMakeLists.txt
**/.DS_Store
**/package-lock.json

**/.env.local
**/.env.*.local

**/npm*.log*
**/yarn*.log*
**/pnpm-debug.log*
